In [2]:
import pandas as pd

In [107]:
matriculas = pd.read_csv("data/matricula_historica_cruch.csv").drop(["Unnamed: 0"], axis=1)
titulados = pd.read_csv("data/titulados.csv").drop(["Unnamed: 0"], axis=1)
egreso_media = pd.read_csv("data/egreso_media_historica.csv").drop(["Unnamed: 0"], axis=1)
beneficios = pd.read_csv("data/beneficios.csv").drop(["Unnamed: 0"], axis=1)

C:\Users\bet0x\AppData\Local\Temp\ipykernel_24476\2535187147.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  egreso_media = pd.read_csv("data/egreso_media_historica.csv").drop(["Unnamed: 0"], axis=1)
C:\Users\bet0x\AppData\Local\Temp\ipykernel_24476\2535187147.py:4: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  beneficios = pd.read_csv("data/beneficios.csv").drop(["Unnamed: 0"], axis=1)

In [132]:
egreso_media[egreso_media["MRUN"] == 26231809]

Empty DataFrame
Columns: [AGNO, NOM_REG_RBD_A, NOM_COM_RBD, COD_DEPE2, MRUN, COD_GRADO]
Index: []

In [ ]:
titulados = titulados[titulados["tipo_inst_2"] == "Universidades CRUCH"]
titulados = titulados[titulados["nivel_global"] == "Pregrado"]

In [114]:
titulados.tail()

,cat_periodo,codigo_unico,mrun,gen_alu,fec_nac_alu,rango_edad,anio_ing_carr_ori,sem_ing_carr_ori,anio_ing_carr_act,sem_ing_carr_act,...,jornada,modalidad,version,tipo_plan_carr,area_cineunesco,area_cine_f_97,subarea_cine_f_97,area_cine_f_13,subarea_cine_f_13,area_carrera_generica_n
3371424,2023,I78S1C15J1V1,27830119.0,2,199911,20 a 24 Años,1900,0,2022.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Kinesiología
3371546,2023,I71S1C23J1V1,27831083.0,2,199905,20 a 24 Años,2021,1,2021.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Administración y Comercio,"Ciencias Sociales, Enseñanza Comercial y Derecho",Enseñanza Comercial y Administración,Administración de Empresas y Derecho,Educación Comercial y Administración,Ingeniería Comercial
3371571,2023,I76S1C34J1V1,27831284.0,2,199905,20 a 24 Años,2018,1,2018.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Tecnología Médica
3371666,2023,I78S1C15J1V1,27832067.0,2,199609,25 a 29 Años,1900,0,2022.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Kinesiología
3371860,2023,I86S5C526J1V1,NaN,1,199404,25 a 29 Años,2016,1,2016.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Tecnología,"Ingeniería, Industria y Construcción",Ingeniería y Profesiones Afines,"Ingeniería, Industria y Construcción",Ingeniería y Profesiones Afines,Ingeniería Civil Mecánica

In [131]:
matriculas[matriculas["mrun"] == 26231809]

Empty DataFrame
Columns: [cat_periodo, mrun, gen_alu, rango_edad, anio_ing_carr_ori, anio_ing_carr_act, tipo_inst_2, nomb_inst, nomb_carrera, dur_total_carr, comuna_sede]
Index: []

In [126]:
beneficios[beneficios["ANIO_BENEFICIO"] == 2020].tail(10)

,ANIO_BENEFICIO,MRUN,QUINTIL_INGRESO,BENEFICIO_BECA_FSCU,TIPO_ALUMNO,DECIL_DFE
5349250,2020,26102723,2,GRATUIDAD,1,4
5349251,2020,26102839,2,GRATUIDAD,1,4
5349252,2020,26230435,1,GRATUIDAD,1,1
5349253,2020,26230653,2,GRATUIDAD,1,4
5349254,2020,26230753,3,GRATUIDAD,1,5
5349255,2020,26231252,3,GRATUIDAD,1,5
5349256,2020,26231583,2,GRATUIDAD,1,4
5349257,2020,26231809,2,GRATUIDAD,1,4
5349258,2020,26231875,2,GRATUIDAD,1,4
5349259,2020,26232156,3,GRATUIDAD,1,5

In [63]:
matriculas[~matriculas["mrun"].isna()]

,cat_periodo,mrun,gen_alu,rango_edad,anio_ing_carr_ori,anio_ing_carr_act,tipo_inst_2,nomb_inst,nomb_carrera,dur_total_carr,comuna_sede
0,2007,56.0,1,20 a 24 años,2007.0,2007.0,Universidades CRUCH,UNIVERSIDAD TECNICA FEDERICO SANTA MARIA,TECNICO UNIVERSITARIO EN ELECTRICIDAD,8.0,VIÑA DEL MAR
1,2007,167.0,2,40 y más años,2007.0,2007.0,Universidades CRUCH,UNIVERSIDAD DE CHILE,MAGISTER EN ANTROPOLOGIA Y DESARROLLO,4.0,SANTIAGO
2,2007,169.0,1,20 a 24 años,2004.0,2004.0,Universidades CRUCH,UNIVERSIDAD TECNICA FEDERICO SANTA MARIA,INGENIERIA CIVIL EN INFORMATICA,12.0,VALPARAISO
3,2007,220.0,2,15 a 19 años,2007.0,2007.0,Universidades CRUCH,UNIVERSIDAD DE SANTIAGO DE CHILE,LICENCIATURA EN QUIMICA,16.0,ESTACION CENTRAL
4,2007,252.0,1,20 a 24 años,2004.0,2004.0,Universidades CRUCH,UNIVERSIDAD CATOLICA DE TEMUCO,PEDAGOGIA EN EDUCACION BASICA INTERCULTURAL EN...,9.0,TEMUCO
...,...,...,...,...,...,...,...,...,...,...,...
6440380,2024,27833268.0,1,25 a 29 años,2023.0,2023.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440381,2024,27833270.0,2,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440382,2024,27833271.0,1,30 a 34 años,2022.0,2022.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440383,2024,27833272.0,2,40 y más años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,DIPLOMADO EN ANESTESIA INTRAVENOSA TIVA (TOTAL...,2.0,SANTIAGO
6440384,2024,27833274.0,1,30 a 34 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL

In [42]:
titulados.head()

,cat_periodo,codigo_unico,mrun,gen_alu,fec_nac_alu,rango_edad,anio_ing_carr_ori,sem_ing_carr_ori,anio_ing_carr_act,sem_ing_carr_act,...,jornada,modalidad,version,tipo_plan_carr,area_cineunesco,area_cine_f_97,subarea_cine_f_97,area_cine_f_13,subarea_cine_f_13,area_carrera_generica_n
0,2007,I89T2007N75,167.0,2,196606,40 y más años,1984,1,1984.0,1.0,...,Diurno,NaN,NaN,Plan Regular,Educación,Educación,Formación de Personal Docente y Ciencias de la...,Educación,Educación,Pedagogía en Filosofía y Religión
1,2007,I212T2007N8,303.0,2,198102,25 a 29 Años,2004,1,NaN,1.0,...,Vespertino,NaN,NaN,Plan Regular,Administración y Comercio,"Ciencias Sociales, Enseñanza Comercial y Derecho",Enseñanza Comercial y Administración,Administración de Empresas y Derecho,Educación Comercial y Administración,Técnico en Contabilidad General
2,2007,I10S2C19J1V1,432.0,2,198302,20 a 24 Años,2002,1,NaN,NaN,...,Diurno,NaN,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Odontología
3,2007,I143T2007N175,621.0,2,198503,20 a 24 Años,2005,1,2006.0,1.0,...,Vespertino,NaN,NaN,Plan Regular,Tecnología,Ciencias,Informática,Tecnología de la Información y la Comunicación...,Tecnología de la Información y la Comunicación...,Técnico en Computación e Informática
4,2007,I74S1C4J1V1,756.0,1,198405,20 a 24 Años,2002,1,2002.0,NaN,...,Diurno,NaN,1.0,Plan Regular,Administración y Comercio,"Ciencias Sociales, Enseñanza Comercial y Derecho",Enseñanza Comercial y Administración,Administración de Empresas y Derecho,Educación Comercial y Administración,Contador Auditor

In [68]:
egreso_media[egreso_media["MRUN"] == 27833263]

Empty DataFrame
Columns: [AGNO, NOM_REG_RBD_A, NOM_COM_RBD, COD_DEPE2, MRUN, COD_GRADO]
Index: []

In [44]:
beneficios.head()

,ANIO_BENEFICIO,MRUN,QUINTIL_INGRESO,BENEFICIO_BECA_FSCU,TIPO_ALUMNO,DECIL_DFE
0,2008,56,,FSCU,3,NaN
1,2008,195,1,BPED,1,NaN
2,2008,195,1,FSCU,1,NaN
3,2008,201,1,FSCU,1,NaN
4,2008,220,,BBIC,3,NaN

In [ ]:
#Filtramos egresos de 4to medio solamente
egreso_media = egreso_media[egreso_media["COD_GRADO"] == 4]
print(egreso_media.shape)

(4203052, 6)

array([       3,        4,       41, ..., 27620570, 27620576, 27620605],
      shape=(4203052,))

In [69]:
common = set(matriculas['mrun']) & set(egreso_media['MRUN'])
print(f"Common MRUNs: {len(common)} / {matriculas['mrun'].nunique()} in matriculas")

Common MRUNs: 1016250 / 1572734 in matriculas

In [74]:
matriculas = matriculas[~matriculas["mrun"].isna()]
titulados = titulados[~titulados["mrun"].isna()]
matriculas['mrun'] = matriculas['mrun'].astype(int)
titulados['mrun'] = titulados['mrun'].astype(int)
#mat_comuna = matriculas.join(titulados.set_index('mrun'), on='mrun', validate='m:1')

In [90]:
matriculas[matriculas["mrun"] >= 27831083]

,cat_periodo,mrun,gen_alu,rango_edad,anio_ing_carr_ori,anio_ing_carr_act,tipo_inst_2,nomb_inst,nomb_carrera,dur_total_carr,comuna_sede
6439320,2024,27831087,2,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,DIPLOMADO EN INGENIERIA LOGISTICA,2.0,SANTIAGO
6439321,2024,27831089,1,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,DIPLOMADO EN PYTHON Y CIENCIA DE DATOS,2.0,MACUL
6439322,2024,27831090,1,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,"DIPLOMADO EN EXPERIENCIA DE CLIENTE DISEÑO, DA...",2.0,SANTIAGO
6439323,2024,27831090,1,25 a 29 años,2023.0,2023.0,Universidades CRUCH,UNIVERSIDAD DE LOS ANDES,DIPLOMADO EN URGENCIAS PEDIATRICAS,2.0,LAS CONDES
6439324,2024,27831094,2,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,DIPLOMADO EN INFECTOLOGIA NEONATAL,2.0,SANTIAGO
...,...,...,...,...,...,...,...,...,...,...,...
6440380,2024,27833268,1,25 a 29 años,2023.0,2023.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440381,2024,27833270,2,25 a 29 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440382,2024,27833271,1,30 a 34 años,2022.0,2022.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL
6440383,2024,27833272,2,40 y más años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,DIPLOMADO EN ANESTESIA INTRAVENOSA TIVA (TOTAL...,2.0,SANTIAGO
6440384,2024,27833274,1,30 a 34 años,2024.0,2024.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE,MAGISTER EN CIENCIA DE DATOS,4.0,MACUL

In [85]:
#titulados["nivel_global"]
titulados[(titulados["nivel_global"] == "Pregrado") & (titulados["tipo_inst_2"] == "Universidades CRUCH")].tail()

,cat_periodo,codigo_unico,mrun,gen_alu,fec_nac_alu,rango_edad,anio_ing_carr_ori,sem_ing_carr_ori,anio_ing_carr_act,sem_ing_carr_act,...,jornada,modalidad,version,tipo_plan_carr,area_cineunesco,area_cine_f_97,subarea_cine_f_97,area_cine_f_13,subarea_cine_f_13,area_carrera_generica_n
3371415,2023,I78S1C15J1V1,27830079,1,199907,20 a 24 Años,1900,0,2022.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Kinesiología
3371424,2023,I78S1C15J1V1,27830119,2,199911,20 a 24 Años,1900,0,2022.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Kinesiología
3371546,2023,I71S1C23J1V1,27831083,2,199905,20 a 24 Años,2021,1,2021.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Administración y Comercio,"Ciencias Sociales, Enseñanza Comercial y Derecho",Enseñanza Comercial y Administración,Administración de Empresas y Derecho,Educación Comercial y Administración,Ingeniería Comercial
3371571,2023,I76S1C34J1V1,27831284,2,199905,20 a 24 Años,2018,1,2018.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Tecnología Médica
3371666,2023,I78S1C15J1V1,27832067,2,199609,25 a 29 Años,1900,0,2022.0,1.0,...,Diurno,Presencial,1.0,Plan Regular,Salud,Salud y Servicios Sociales,Medicina,Salud y Bienestar,Salud,Kinesiología

In [70]:
mat_comuna[~mat_comuna["AGNO"].isna()].head()

,cat_periodo,mrun,gen_alu,rango_edad,anio_ing_carr_ori,anio_ing_carr_act,tipo_inst_2,nomb_inst,nomb_carrera,dur_total_carr,comuna_sede,AGNO,NOM_REG_RBD_A,NOM_COM_RBD,COD_DEPE2,COD_GRADO
3671,2007,330984,2,40 y más años,2006.0,2006.0,Universidades CRUCH,PONTIFICIA UNIVERSIDAD CATOLICA DE VALPARAISO,MAGISTER EN ENSEÑANZA DE LAS CIENCIAS MENCION ...,8.0,VALPARAISO,2018.0,RM,MACUL,2,4.0
3696,2007,333006,1,Sin Información,2006.0,2006.0,Universidades CRUCH,UNIVERSIDAD AUSTRAL DE CHILE,INTERPRETACION MUSICAL,10.0,VALDIVIA,2017.0,RIOS,VALDIVIA,3,4.0
3997,2007,358929,2,15 a 19 años,2005.0,2005.0,Universidades CRUCH,UNIVERSIDAD AUSTRAL DE CHILE,INTERPRETACION MUSICAL,10.0,VALDIVIA,2012.0,ARAUC,TEMUCO,4,4.0
4121,2007,371106,2,25 a 29 años,2003.0,2003.0,Universidades CRUCH,UNIVERSIDAD TECNICA FEDERICO SANTA MARIA,DOCTORADO EN BIOTECNOLOGIA,7.0,VALPARAISO,2022.0,ARAUC,TEMUCO,2,4.0
6305,2007,568048,1,15 a 19 años,2007.0,2007.0,Universidades CRUCH,UNIVERSIDAD METROPOLITANA DE CIENCIAS DE LA ED...,DIPLOMA NIVEL INICIACION,4.0,ÑUÑOA,2009.0,RM,PEÑALOLÉN,3,4.0