In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data/D_MATRICULA_PAES_2025_PUB_MRUN.csv", delimiter=";")

In [12]:
data["MRUN"].head(10)

0     534
1     535
2     752
3     978
4    1259
5    1260
6    1342
7    1479
8    1812
9    1882
Name: MRUN, dtype: int64

In [6]:
socio = pd.read_csv("data/B_SOCIOECONOMICO_DOMICILIO_PAES_2025_PUB_MRUN.csv", delimiter=";")

In [13]:
socio.head(10)

,MRUN,ANYO_PROCESO,CODIGO_REGION_DOMICILIO,CODIGO_PROVINCIA_DOMICILIO,CODIGO_COMUNA_DOMICILIO,NOMBRE_COMUNA_DOMICILIO,SEXO,FECHA_NACIMIENTO,INGRESO_PERCAPITA_GRUPO_FA,RAZON_PRINCIPAL_PAES
0,214,2025,16,161,16101,CHILLAN,1,200602,1,3
1,492,2025,12,121,12101,PUNTA ARENAS,2,200506,9,4
2,534,2025,6,63,6305,NANCAGUA,2,200609,2,3
3,535,2025,8,81,8101,CONCEPCION,2,200609,8,3
4,752,2025,15,151,15101,ARICA,2,200310,99,
5,978,2025,13,131,13107,HUECHURABA,2,200611,9,3
6,1236,2025,13,131,13129,SAN JOAQUIN,2,199908,8,5
7,1255,2025,13,136,13604,PADRE HURTADO,1,200502,1,2
8,1259,2025,13,135,13503,CURACAVI,1,200604,9,3
9,1260,2025,6,61,6104,COLTAUCO,2,200605,5,3

In [14]:
common = set(data['MRUN']) & set(socio['MRUN'])
print(f"Common MRUNs: {len(common)} / {data['MRUN'].nunique()} in matriculas")

Common MRUNs: 136220 / 140687 in matriculas